@CHARSET "UTF-8";

persons {
	font-size: 180%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
}

h1 {
	font-size: 110%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
}

h2 {
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333366;
}

h3 {
	font-size: 110%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
}

h4, caption {
	font-size: 120%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #800000;
}
legend {
	font-size: 110%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #800000;
}

h5, label {
	font-size: 110%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #808080;
}

input[type="submit"], button {
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: maroon;
	background: -moz-linear-gradient(#00BBD6, #EBFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6',
		endColorstr='#EBFFFF');
	width: 145px;
  height:35px;
	padding: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #666;
}
.buttonOrder {
	width: 37px;
  height:37px;
	
}


input[type="button"] {
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: maroon;
	background: -moz-linear-gradient(#00BBD6, #EBFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6',
		endColorstr='#EBFFFF');
	width: 145px;
  height:35px;
	padding: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #666;
}

.table1 {
	border: 0px importent!;
	
}
.table {
	border-collapse: collapse;
	border: 4px solid grey;
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6',
		endColorstr='#EBFFFF');
}

.td, .th {
	padding: 4px;
	border: 2px solid grey;
}
.td1, .th1 {
	padding: 0px importent!;
	border: 0px importent!;
}
select {
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: maroon;
	background: -moz-linear-gradient(#00BBD6, #EBFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6',
		endColorstr='#EBFFFF');
	padding: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #666;
	width: 145px;
  height:35px;
}

A {
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
	color: red;
}
:-moz-placeholder {
color: blue;
}
::-webkit-input-placeholder {
color: blue;
}
.field {clear:both; text-align:right;}
.field {clear:both; text-align:right;}
label {float:left;}
.field {clear:both; text-align:right;}
label {float:left;}
.main {float:left}
.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}
input[type="text"] {
  
   border-radius: 5px; 
   -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   -khtml-border-radius: 5px; 
   background: #ffffff !important; 
   outline: none; 
   height: 20px; 
   width: 155px;
   color: black; 
   font-size: 11px; 
   font-family: Tahoma; 
}
.sendsubmit {
width:  35px;  
height: 35px; 
margin: 0;
padding:0;
border: 0;
background: transparent url('img/search.png') 70% 70% no-repeat ;
background-size: cover;
text-indent: -1000em;
cursor: pointer; 
cursor: hand; 
}
.sendsubmitC {
width:  35px;  
height: 35px; 
margin: 0;
padding:0;
border: 0;
background: transparent url('img/reload.png') 70% 70% no-repeat ;
background-size: cover;
text-indent: -1000em;
cursor: pointer; 
cursor: hand; 
}
.sendsubmitS {
width:  45px;  
height: 35px; 
margin: 0;
padding:0;
border: 0;

cursor: pointer; 
cursor: hand; 
}
header {
	display: block;
	height: 110px;
	background-image: url('img/header01.jpg');
}
pH {
	display: block;
	height: 110px;
	background-image: url('img/person.jpg') !important;
}
mH {
	display: block;
	height: 110px;
	background-image: url('img/medicine.jpg') !important;
}
phH {
	display: block;
	height: 110px;
	background-image: url('img/pharmacy.jpg') !important;
}
prH {
	display: block;
	height: 110px;
	background-image: url('img/producer.jpg') !important;
}
.hid {
	font-size: xx-large;
	font-size: 93% !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: transparent;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: transparent;
   outline: none; 
   color: red !important; 
}
placeholder {
	color: aqua !important;
}